<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
        <a href="/createbook">CREATE</a>
        <table>
            <% for(var i=0; i < books.length; i++) { %>
               <tr>
                 <td><%= books[i].name %></td>
                 <td><%= books[i].price %></td>
                 <td><%= books[i].nhaxuatban %></td>
                 <td><%= books[i].namxuatban %></td>
                 <td><%= books[i].tacgia%></td>
                 <td><%= books[i].sotrang%></td>
                 <td><%= books[i].kichthuoc %></td>
                 <td><%= books[i].soluongbandau%></td>
                 <td><%= books[i].soluongcon %></td>
                 <td><%= books[i].type %></td>
                 <td><%= books[i].discount %></td>
                 <td><%= books[i].mota %></td>
                 <td><img src="./uploads/<%= books[i].image.data %>" /></td>
                 <td><a href="/updatebook/<%= books[i]._id %>">Update</a></td>
                 <td><a href="/deletebook/<%= books[i]._id %>">Delete</a></td>
               </tr>
            <% } %>
            </table>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>
</html>
